.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col {
  flex: 1;
  padding-right: 4rem;
}

.col1 {
  flex: 1;
}

footer {
  background: $secondary-color;
  padding: 2% 0;
  .col1 {
    padding-right: 30px;
  }
}
@media (min-width: 800px) {
  footer .row {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}
