.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url('../images/pocetna2.jpg') no-repeat center center;
  background-size: cover;
}

.hero__wrapper {
  margin: auto;
  text-align: center;
}

.tagline {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  transform: translateY(-10px);
}
.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  span {
    width: 100px;
    height: 1px;
    background: #fff;
  }
  svg {
    margin: auto 10px;
  }
}
