section {
  padding: 5% 0;
  overflow: hidden;
}

.section__paragraph {
  line-height: 1.5;
  color: lighten($color: $secondary-color, $amount: 35%);
}

@media (min-width: 800px) {
  section .row {
    display: flex;
  }
}
