@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:900");
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");

$mainHeader: "Herr Von Muellerhoff", cursive;
$subHeader: "Source Sans Pro", sans-serif;
$paragraphFont: sans-serif;
